# Phase 1
#### Segmentation
TOP 3 Segments

## Find the best Target Segments and Locations for a New Security System
### Electric Growers wants to launch a New Home Security System utilizing the right strategy.

The project provides the best way to launch a new Home Security System targeting socio-economic segments which have the highest new customers potential.

It is a result of an in-depth analysis of the customer data including several variables as a collected survey questions in 6759 markets of US cities/regions.

### Import Libraries and Datasets

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
from google.colab import drive
drive.mount('/gdrive/')

Drive already mounted at /gdrive/; to attempt to forcibly remount, call drive.mount("/gdrive/", force_remount=True).

Download the datasets and read it all into a pandas dataframe.

In [0]:
# survey - Survey Data will have the segment distribution for the variables providing the right attribute which will be used to calculate propensity indices for the segments or markets
df_survey = pd.read_csv("/gdrive/My Drive/Colab Notebooks/Data/PROJ/01_pandas/files/final/data/01_survey_data.csv", sep = ',', low_memory=False)
# segments - Segments and their description
df_segments = pd.read_csv("/gdrive/My Drive/Colab Notebooks/Data/PROJ/01_pandas/files/final/data/02_city_segments.csv", sep = ',', low_memory=False)
# demographics - Market data will have attributes like combine crime rate, population growth, housing growth and penetration of top segments at state city level
df_demographics = pd.read_csv("/gdrive/My Drive/Colab Notebooks/Data/PROJ/01_pandas/files/final/data/03_citywise_demographics.csv", sep = ',', low_memory=False)

In [0]:
df_survey.shape, list(df_survey), df_survey.notnull().sum()

((2028, 3),
 ['Segments', 'Variable Name', 'Variable Count'],
 Segments          2028
 Variable Name     2028
 Variable Count    2028
 dtype: int64)

In [0]:
# survey - Survey Data will have the segment distribution for the variables providing the right attribute which will be used to calculate propensity indices for the segments or markets
df_survey.head(5)

                 Segments  ... Variable Count
0   Well-heeled Affluents  ...        1656351
1    Prosperous Acheivers  ...        2388550
2  Young Affluent Mobiles  ...        3053584
3         Upscale Matures  ...        2003181
4        Elite Households  ...        2371356

[5 rows x 3 columns]

In [0]:
df_survey['Variable Count'] = df_survey['Variable Count'].astype(int)

In [0]:
df_survey['Variable Count'].sum()

2027808637

In [0]:
df_segments.shape, list(df_segments), df_segments.notnull().sum()

((297240, 4),
 ['Customer Segment', 'StateFullName', 'City', 'Household Counts'],
 Customer Segment    297240
 StateFullName       297240
 City                297240
 Household Counts    297240
 dtype: int64)

In [0]:
# segments - Segments and their description
df_segments.head(5)

        Customer Segment StateFullName        City  Household Counts
0  Well-heeled Affluents  Pennsylvania  AARONSBURG                 0
1        Modest Families  Pennsylvania  AARONSBURG                 0
2       Elite Households  Pennsylvania  AARONSBURG                 0
3           Mass Markets  Pennsylvania  AARONSBURG                90
4     Young Urban Masses  Pennsylvania  AARONSBURG                 1

In [0]:
df_demographics.shape, list(df_demographics), df_segments.notnull().sum()

((6759, 28),
 ['Location',
  'State',
  'County',
  'Land Area',
  'WaterArea',
  'Latitude',
  'Longitude',
  'Population Growth Rate',
  'WhitePopulation',
  'BlackPopulation',
  'HispanicPopulation',
  'AsianPopulation',
  'HawaiianPopulation',
  'IndianPopulation',
  'OtherPopulation',
  'MalePopulation',
  'FemalePopulation',
  'Number of Burgalaries reported',
  'MedianAge',
  'Crime Rate',
  'Homicide Reported',
  'CBSA_Type',
  'FinanceNumber',
  'Property Crime Rate',
  'Housing Construction',
  'HouseholdsPerZipCode',
  'AverageHouseValue',
  'Elevation'],
 Customer Segment    297240
 StateFullName       297240
 City                297240
 Household Counts    297240
 dtype: int64)

In [0]:
# Demographics - Market data will have attributes like combine crime rate, population growth, housing growth and penetration of top segments at state city level
df_demographics.head(5)

               Location State  ... AverageHouseValue  Elevation
0    Alabama|Abbeville     AL  ...           88900.0      499.0
1   Alabama|Adamsville     AL  ...           97100.0      600.0
2      Alabama|Addison     AL  ...           88700.0      827.0
3    Alabama|Alabaster     AL  ...          160100.0      524.0
4  Alabama|Albertville     AL  ...          101700.0      592.0

[5 rows x 28 columns]

# Exploratory Data Analysis

#### Segmentation - Top segments and their description
Methodology: 
- Select variables providing the right attributes from the Survey Data
- Calculate the penetration of variable data for segments
- Using the index, identify the top 3 segments to target

In [0]:
# On survey: list unique segment names
 df_survey["Segments"].unique().tolist()

['Well-heeled Affluents',
 'Prosperous Acheivers',
 'Young Affluent Mobiles',
 'Upscale Matures',
 'Elite Households',
 'Young Upscale Families',
 'Elder Midscale Class',
 'Comfortable Retirees',
 'Mass Markets',
 'Young Urban Masses',
 'Diverse Workers',
 'Modest Families']

In [0]:
# On survey: list unique Variable Names(Key Atribbutes)
 df_survey["Variable Name"].unique().tolist()

['Attitude: Prefer Auto and Residential with Same Carrier ',
 'Buy Based on Quality- Not Price- Agree ',
 'Buying Electronics- Do As Much Research as Possible- Agree ',
 'Change Brands Often for Variety/Novelty- Agree ',
 "Don't Buy Based on Advertising- Agree ",
 'Has Home/Personal Property Insurance Through an Agent ',
 'Has Residential Insurance for Primary Residence ',
 'Has Residential Insurance, 1 Policy ',
 'Has Residential Insurance, 2 Policies ',
 'Has Residential Insurance, All Policies (Total Premium) ',
 'Has Residential Insurance, Any Continuous Policy: <1 Year ',
 'Has Residential Insurance, Primary Policy, Purchase Ch: Single Company Agent ',
 'Has Residential Insurance, Satisfied with Primary Company ',
 'Has Residential Insurance, Switch Reason: Better Reputation ',
 'Has Residential Insurance, Switch Reason: Combined Policy ',
 'Has Residential Insurance, Switch Reason: Lower Price ',
 'Has Residential Insurance, Switch Reason: More/Better Policy Features ',
 'Has Residential Insurance, Switch Reason: Moved ',
 'Has Residential Insurance, Switched Carrier: Did Not Switch Past 3 Years ',
 'Has Residential Insurance, Type: Condo/Co-Op ',
 'Has Residential Insurance, Type: Homeowners ',
 'Has Residential Insurance, Type: Renters ',
 'Home Office: Do Not Have an Office Set-Up at Home ',
 'Home Office: Have an Office Set-Up at Home ',
 'Home Office: Primarily Work From Home ',
 'Home Office: Primarily Work Out of an Office or Company Location ',
 'Household Composition: 1 Adult- Children <18 ',
 'Household Composition: 1 Adult- No Children <18 ',
 'Household Composition: Married Couple- Children <18 ',
 'Household Composition: Married Couple- Children <18 and 18+ ',
 'Household Composition: Married Couple- Children 18+ ',
 'Household Composition: Married Couple Only ',
 'Household Composition: No Married Couple- Other Adults ',
 'Household Income: $10,000-$19,999 ',
 'Household Income: $100,000-$149,999 ',
 'Household Income: $150,000-$199,999 ',
 'Household Income: $20,000-$29,999 ',
 'Household Income: $200,000-$249,999 ',
 'Household Income: $250,000 or More ',
 'Household Income: $30,000-$39,999 ',
 'Household Income: $40,000-$49,999 ',
 'Household Income: $50,000-$74,999 ',
 'Household Income: $75,000-$99,999 ',
 'Household Income: Under $10,000 ',
 'Household Size: 1 Person ',
 'Household Size: 2 People ',
 'Household Size: 3 or 4 People ',
 'Household Size: 5+ People ',
 'Householder Age: 18-24 ',
 'Householder Age: 18-34 ',
 'Householder Age: 18-49 ',
 'Householder Age: 25-34 ',
 'Householder Age: 25-54 ',
 'Householder Age: 35-44 ',
 'Householder Age: 35-54 ',
 'Householder Age: 45-54 ',
 'Householder Age: 50+ ',
 'Householder Age: 55+ ',
 'Householder Age: 55-64 ',
 'Householder Age: 65-74 ',
 'Householder Age: 75+ ',
 'Householder Marital Status: Married ',
 'Householder Marital Status: Other ',
 'Householder Marital Status: Single ',
 'I am Among First of my Friends to try new Technology Products- Agree ',
 'I am Willing to Pay More for Top Quality Electronics- Agree ',
 'Internet Ads Appear at Inconvenient Moments- Agree ',
 'Internet Ads Are Alike- Agree ',
 'Internet Ads Are Amusing- Agree ',
 'Internet Ads Are Repeated too Often- Agree ',
 'Internet Ads Give Good Info on New Products/Services- Agree ',
 'Internet Ads Give Good Information on Consumer Product Use- Agree ',
 'Internet Ads Give Useful Info on Bargains- Agree ',
 'Internet Ads Have No Credibility- Agree ',
 'Internet Yellow Pages- Electronic Equipment- Supplies & Service- 1yr ',
 'Internet Yellow Pages- Home Improvement & Repairs- 1yr ',
 'IPA $1 million-$2 million',
 'IPA $100K-$249K',
 'IPA $2 million+',
 'IPA $250K-$499K',
 'IPA $25K-$49K',
 'IPA $500K-$749K',
 'IPA $50K-$74K',
 'IPA $750K-$999K',
 'IPA $75K-$99K',
 'IPA < $25K',
 'Length of Residence: 1-4 Years ',
 'Length of Residence: 5 Years or More ',
 'Length of Residence: Less than 1 Year ',
 'Like to Shop Around Before Making a Purchase- Agree ',
 'Magazine Ads Are Alike- Agree ',
 'Magazine Ads Are Repeated too Often- Agree ',
 'Magazine Ads Give Good Info on Consumer Product Use- Agree ',
 'Magazine Ads Give Good Info on New Products/Services- Agree ',
 'Magazine Ads Give Useful Information on Bargains- Agree ',
 'Magazine Ads Have No Credibility- Agree ',
 'Make Any Home Improvement- 1yr ',
 'Make Home Improvements- $500+- 1yr ',
 'Make Home Improvements- <$500- 1yr ',
 'Media Trusted the Most- Internet ',
 'Media Trusted the Most- Magazines ',
 'Media Trusted the Most- Newspapers ',
 'Media Trusted the Most- Radio ',
 'Media Trusted the Most- Television ',
 'Newspaper Ads Are Alike- Agree ',
 'Newspaper Ads Are Amusing- Agree ',
 'Newspaper Ads Are Repeated too Often- Agree ',
 'Newspaper Ads Give Good Info on Consumer Products Use- Agree ',
 'Newspaper Ads Give Good Info on New Products/Services- Agree ',
 'Newspaper Ads Give Useful Info on Bargains- Agree ',
 'Newspaper Ads Have No Credibility- Agree ',
 'Number of Children 0-17 Living at Home: 1 ',
 'Number of Children 0-17 Living at Home: 2 ',
 'Number of Children 0-17 Living at Home: 3 ',
 'Number of Children 0-17 Living at Home: 4 ',
 'Number of Children 0-17 Living at Home: 5+ ',
 'Number of Children 0-17 Living at Home: Any Child ',
 'Number of Children 0-17 Living at Home: None ',
 'Often Seek Advice of Others Before Buying- Agree ',
 'Order Any Items by Internet- $200+- 1yr ',
 'Order Any Items by Internet- $50+- 1yr ',
 'Order Any Items by Internet- <$50- 1yr ',
 'Order Any Items by Internet- 1yr ',
 'Order from Bestbuy.com- 1yr ',
 'Order from costco.com- 1yr ',
 'Order from homedepot.com- 1yr ',
 'Order from Walmart.com- 1yr ',
 'Own Burglar Alarm ',
 'People Ask Me for Purchasing Advice- Agree ',
 'Prefer Products With the Latest Technology- Agree ',
 'Prefer To Shop At Specialized Stores- Agree ',
 'Price Is More Important than Brand Names- Agree ',
 'Radio Ads Appear at Inconvenient Moments- Agree ',
 'Radio Ads Are Alike- Agree ',
 'Radio Ads Are Repeated too Often- Agree ',
 'Radio Ads Give Good Info on Consumer Prod Use- Agree ',
 'Radio Ads Give Good Info on New Products/Services- Agree ',
 'Radio Ads Give Useful Info on Bargains- Agree ',
 'Radio Ads Have No Credibility- Agree ',
 'Residential Insurance, Preferred Service Channel: Local Agent ',
 'Residential Insurance, Preferred Service Channel: Phone ',
 'Residential Insurance, Preferred Service Channel: Website ',
 'Shop at Ace Hardware- 1yr ',
 'Shop at Best Buy- 1yr ',
 'Shop at Costco- 6mo ',
 'Shop at Home Depot- 1yr ',
 'Shop at Target- 3mo ',
 'Shop at Wal-Mart- 3mo ',
 'Tenure: Own Home ',
 'Tenure: Rents Home ',
 'TV Ads Appear at Inconvenient Moments- Agree ',
 'TV Ads Are Alike- Agree ',
 'TV Ads Are Amusing- Agree ',
 'TV Ads Are Repeated too Often- Agree ',
 'TV Ads Give Good Info on Consumer Prod Use- Agree ',
 'TV Ads Give Good Info on New Products/Services- Agree ',
 'TV Ads Give Useful Info on Bargains- Agree ',
 'TV Ads Have No Credibility- Agree ',
 'Typically Read Online Reviews Before Purchasing Online - Agree ',
 'Value of Owned Home: $100,000 - $149,999 ',
 'Value of Owned Home: $150,000 - $199,999 ',
 'Value of Owned Home: $200,000 - $499,999 ',
 'Value of Owned Home: $50,000 - $99,999 ',
 'Value of Owned Home: $500,000+ ',
 'Value of Owned Home: Under $50,000 ',
 'Wait for Others to Try Things Before I Buy- Agree ',
 'Will Buy on Credit Rather than Wait- Agree ',
 'Will Switch Brands to Use a Cents-Off Coupon- Agree ',
 'Would like to buy Security Devices']

####Based on discussions with Stakeholders, 5 Key Attributes are selected Determine Top Segments

1. Household counts
2. Wants to buy security devices
3. Will switch brands
4. High(750-2M) and Medium(100-749K) IPA (Income Producing Asset)
5. Willing to pay more for top quality electronics
----------------------------------------------------------
#### Final Segmentation
Combined survey and segments dataset generated for further analysis

### 1.Household counts

In [0]:
# From Segments and their description
df_segments.head(5)

        Customer Segment StateFullName        City  Household Counts
0  Well-heeled Affluents  Pennsylvania  AARONSBURG                 0
1        Modest Families  Pennsylvania  AARONSBURG                 0
2       Elite Households  Pennsylvania  AARONSBURG                 0
3           Mass Markets  Pennsylvania  AARONSBURG                90
4     Young Urban Masses  Pennsylvania  AARONSBURG                 1

In [0]:
df_segments_hc = df_segments.drop(['StateFullName','City'], axis=1)

In [0]:
df_segments_hc = df_segments_hc.rename(columns={'Customer Segment': 'Segments'})

In [0]:
df_segments_hc.head(5)

                Segments  Household Counts
0  Well-heeled Affluents                 0
1        Modest Families                 0
2       Elite Households                 0
3           Mass Markets                90
4     Young Urban Masses                 1

In [0]:
# Segments X Household Counts

df_segments_hc_seg = df_segments_hc.groupby('Segments')[['Household Counts']].sum()

In [0]:
df_segments_hc_seg

                        Household Counts
Segments
Comfortable Retirees             3502870
Diverse Workers                  9067386
Elder Midscale Class             5126538
Elite Households                 3782280
Mass Markets                     8944892
Modest Families                  3922926
Prosperous Acheivers             3653326
Upscale Matures                  2990662
Well-heeled Affluents            2647809
Young Affluent Mobiles           5455273
Young Upscale Families           6370407
Young Urban Masses               6709160

### 2.Wants to buy security devices

In [0]:
# From Survey Data
# Survey Data will have the segment distribution for the variables providing the right attribute which will be used to calculate propensity indices for the segments or markets
df_survey_wb = df_survey[df_survey['Segments'].str.contains('') & df_survey['Variable Name'].str.contains('Would like to buy')]

In [0]:
df_survey_wb.head(15)

                    Segments  ... Variable Count
2016   Well-heeled Affluents  ...        1176191
2017    Prosperous Acheivers  ...         849727
2018  Young Affluent Mobiles  ...         427550
2019         Upscale Matures  ...         451118
2020        Elite Households  ...         773110
2021  Young Upscale Families  ...         367450
2022    Elder Midscale Class  ...         424447
2023    Comfortable Retirees  ...         121346
2024            Mass Markets  ...         807344
2025      Young Urban Masses  ...         136007
2026         Diverse Workers  ...         327728
2027         Modest Families  ...         224353

[12 rows x 3 columns]

In [0]:
df_survey_wb['Variable Count'].sum()

6086371

In [0]:
df_survey_wb['Variable Name'].unique().tolist()

['Would like to buy Security Devices']

In [0]:
df_survey_wb = df_survey_wb.rename(columns={'Variable Count': 'Wants to buy Security Devices'})

In [0]:
# Segments X Wants to buy Security Devices
df_survey_wb_seg = df_survey_wb.groupby('Segments')[['Wants to buy Security Devices']].sum()

In [0]:
df_survey_wb_seg

                        Wants to buy Security Devices
Segments
Comfortable Retirees                           121346
Diverse Workers                                327728
Elder Midscale Class                           424447
Elite Households                               773110
Mass Markets                                   807344
Modest Families                                224353
Prosperous Acheivers                           849727
Upscale Matures                                451118
Well-heeled Affluents                         1176191
Young Affluent Mobiles                         427550
Young Upscale Families                         367450
Young Urban Masses                             136007

In [0]:
pd.concat([df_segments_hc_seg, df_survey_wb_seg], axis=1)

                        Household Counts  Wants to buy Security Devices
Segments
Comfortable Retirees             3502870                         121346
Diverse Workers                  9067386                         327728
Elder Midscale Class             5126538                         424447
Elite Households                 3782280                         773110
Mass Markets                     8944892                         807344
Modest Families                  3922926                         224353
Prosperous Acheivers             3653326                         849727
Upscale Matures                  2990662                         451118
Well-heeled Affluents            2647809                        1176191
Young Affluent Mobiles           5455273                         427550
Young Upscale Families           6370407                         367450
Young Urban Masses               6709160                         136007

### 3.Will Switch brands

In [0]:
# From Survey Data
# Survey Data will have the segment distribution for the variables providing the right attribute which will be used to calculate propensity indices for the segments or markets
df_survey_ws = df_survey[df_survey['Segments'].str.contains('') & df_survey['Variable Name'].str.contains('Will Switch Brands')]

In [0]:
df_survey_ws.head(15)

                    Segments  ... Variable Count
2004   Well-heeled Affluents  ...         522831
2005    Prosperous Acheivers  ...         704491
2006  Young Affluent Mobiles  ...        1345477
2007         Upscale Matures  ...         596014
2008        Elite Households  ...         887918
2009  Young Upscale Families  ...        1472441
2010    Elder Midscale Class  ...        1081551
2011    Comfortable Retirees  ...         759639
2012            Mass Markets  ...        2168742
2013      Young Urban Masses  ...        1686936
2014         Diverse Workers  ...        2286425
2015         Modest Families  ...        1076186

[12 rows x 3 columns]

In [0]:
df_survey_ws['Variable Count'].sum()

14588651

In [0]:
df_survey_ws['Variable Name'].unique().tolist()

['Will Switch Brands to Use a Cents-Off Coupon- Agree ']

In [0]:
df_survey_ws = df_survey_ws.rename(columns={'Variable Count': 'Will Switch Brands'})

In [0]:
# Segments X Will Switch Brands
df_survey_ws_seg = df_survey_ws.groupby('Segments')[['Will Switch Brands']].sum()

In [0]:
df_survey_ws_seg

                        Will Switch Brands
Segments
Comfortable Retirees                759639
Diverse Workers                    2286425
Elder Midscale Class               1081551
Elite Households                    887918
Mass Markets                       2168742
Modest Families                    1076186
Prosperous Acheivers                704491
Upscale Matures                     596014
Well-heeled Affluents               522831
Young Affluent Mobiles             1345477
Young Upscale Families             1472441
Young Urban Masses                 1686936

In [0]:
pd.concat([df_segments_hc_seg, df_survey_wb_seg, df_survey_ws_seg], axis=1)

                        Household Counts  ...  Will Switch Brands
Segments                                  ...
Comfortable Retirees             3502870  ...              759639
Diverse Workers                  9067386  ...             2286425
Elder Midscale Class             5126538  ...             1081551
Elite Households                 3782280  ...              887918
Mass Markets                     8944892  ...             2168742
Modest Families                  3922926  ...             1076186
Prosperous Acheivers             3653326  ...              704491
Upscale Matures                  2990662  ...              596014
Well-heeled Affluents            2647809  ...              522831
Young Affluent Mobiles           5455273  ...             1345477
Young Upscale Families           6370407  ...             1472441
Young Urban Masses               6709160  ...             1686936

[12 rows x 3 columns]

### 4.High(750-2M) and Medium(100-749K) IPA(Income Producing Asset)

In [0]:
# From Survey Data
# Survey Data will have the segment distribution for the variables providing the right attribute which will be used to calculate propensity indices for the segments or markets
df_survey_ipa = df_survey[df_survey['Segments'].str.contains('') & df_survey['Variable Name'].str.contains('IPA')]

In [0]:
df_survey_ipa['Variable Name'].unique().tolist()

['IPA $1 million-$2 million',
 'IPA $100K-$249K',
 'IPA $2 million+',
 'IPA $250K-$499K',
 'IPA $25K-$49K',
 'IPA $500K-$749K',
 'IPA $50K-$74K',
 'IPA $750K-$999K',
 'IPA $75K-$99K',
 'IPA < $25K']

In [0]:
df_survey_ipa = df_survey_ipa.set_index("Variable Name")
df_survey_ipa = df_survey_ipa.drop(['IPA $25K-$49K',
                                    'IPA $50K-$74K',
                                    'IPA $75K-$99K',
                                    'IPA < $25K'], axis=0)
df_survey_ipa = df_survey_ipa.set_index("Segments")

In [0]:
df_survey_ipa

                        Variable Count
Segments
Well-heeled Affluents           473362
Prosperous Acheivers            544477
Young Affluent Mobiles          475265
Upscale Matures                 238146
Elite Households                305084
Young Upscale Families               0
Elder Midscale Class             18056
Comfortable Retirees               797
Mass Markets                         0
Young Urban Masses                   0
Diverse Workers                      0
Modest Families                      0
Well-heeled Affluents                0
Prosperous Acheivers           1086671
Young Affluent Mobiles          471794
Upscale Matures                1133938
Elite Households               1548079
Young Upscale Families         2133126
Elder Midscale Class            539793
Comfortable Retirees             91327
Mass Markets                    123992
Young Urban Masses               58152
Diverse Workers                      0
Modest Families                      0
Well-heeled Affluents          1416776
Prosperous Acheivers             40351
Young Affluent Mobiles           33720
Upscale Matures                  18585
Elite Households                 24959
Young Upscale Families               0
...                                ...
Elder Midscale Class            132497
Comfortable Retirees             24425
Mass Markets                         0
Young Urban Masses                   0
Diverse Workers                      0
Modest Families                      0
Well-heeled Affluents           322035
Prosperous Acheivers            460072
Young Affluent Mobiles          495709
Upscale Matures                 247443
Elite Households                287559
Young Upscale Families               0
Elder Midscale Class             45936
Comfortable Retirees               797
Mass Markets                         0
Young Urban Masses                   0
Diverse Workers                      0
Modest Families                      0
Well-heeled Affluents           256460
Prosperous Acheivers            342463
Young Affluent Mobiles          326048
Upscale Matures                 199917
Elite Households                174447
Young Upscale Families               0
Elder Midscale Class             23898
Comfortable Retirees              2124
Mass Markets                         0
Young Urban Masses                   0
Diverse Workers                      0
Modest Families                      0

[72 rows x 1 columns]

In [0]:
df_survey_ipa = df_survey_ipa.rename(columns={'Variable Count': 'High & Medium IPA'})

In [0]:
# Segments X High & Medium IPA
df_survey_ipa_seg = df_survey_ipa.groupby('Segments')[['High & Medium IPA']].sum()

In [0]:
df_survey_ipa_seg

                        High & Medium IPA
Segments
Comfortable Retirees               119470
Diverse Workers                         0
Elder Midscale Class               760180
Elite Households                  3651132
Mass Markets                       123992
Modest Families                         0
Prosperous Acheivers              3480767
Upscale Matures                   2657359
Well-heeled Affluents             2569518
Young Affluent Mobiles            1952550
Young Upscale Families            2977446
Young Urban Masses                  58152

In [0]:
pd.concat([df_segments_hc_seg, df_survey_wb_seg, df_survey_ws_seg, df_survey_ipa_seg], axis=1)

                        Household Counts  ...  High & Medium IPA
Segments                                  ...
Comfortable Retirees             3502870  ...             119470
Diverse Workers                  9067386  ...                  0
Elder Midscale Class             5126538  ...             760180
Elite Households                 3782280  ...            3651132
Mass Markets                     8944892  ...             123992
Modest Families                  3922926  ...                  0
Prosperous Acheivers             3653326  ...            3480767
Upscale Matures                  2990662  ...            2657359
Well-heeled Affluents            2647809  ...            2569518
Young Affluent Mobiles           5455273  ...            1952550
Young Upscale Families           6370407  ...            2977446
Young Urban Masses               6709160  ...              58152

[12 rows x 4 columns]

### 5.Willing to pay more for top quality electronics

In [0]:
# From Survey Data
# Survey Data will have the segment distribution for the variables providing the right attribute which will be used to calculate propensity indices for the segments or markets
df_survey_wp = df_survey[df_survey['Segments'].str.contains('') & df_survey['Variable Name'].str.contains('Pay More')]

In [0]:
df_survey_wp.head(15)

                   Segments  ... Variable Count
780   Well-heeled Affluents  ...         756944
781    Prosperous Acheivers  ...         953399
782  Young Affluent Mobiles  ...        1685141
783         Upscale Matures  ...         647027
784        Elite Households  ...        1153657
785  Young Upscale Families  ...        1768303
786    Elder Midscale Class  ...        1001329
787    Comfortable Retirees  ...         537362
788            Mass Markets  ...        2239097
789      Young Urban Masses  ...        1705368
790         Diverse Workers  ...        1920240
791         Modest Families  ...         867047

[12 rows x 3 columns]

In [0]:
df_survey_wp['Variable Count'].sum()

15234914

In [0]:
df_survey_wp['Variable Name'].unique().tolist()

['I am Willing to Pay More for Top Quality Electronics- Agree ']

In [0]:
df_survey_wp = df_survey_wp.rename(columns={'Variable Count': 'Pay more to buy Top Quality Electronics'})

In [0]:
# Segments X Pay more to buy Top Quality Electronics
df_survey_wp_seg = df_survey_wp.groupby('Segments')[['Pay more to buy Top Quality Electronics']].sum()

In [0]:
df_survey_wp_seg

                        Pay more to buy Top Quality Electronics
Segments
Comfortable Retirees                                     537362
Diverse Workers                                         1920240
Elder Midscale Class                                    1001329
Elite Households                                        1153657
Mass Markets                                            2239097
Modest Families                                          867047
Prosperous Acheivers                                     953399
Upscale Matures                                          647027
Well-heeled Affluents                                    756944
Young Affluent Mobiles                                  1685141
Young Upscale Families                                  1768303
Young Urban Masses                                      1705368

In [0]:
pd.concat([df_segments_hc_seg, df_survey_wb_seg, df_survey_ws_seg, df_survey_ipa_seg, df_survey_wp_seg], axis=1)

                        Household Counts  ...  Pay more to buy Top Quality Electronics
Segments                                  ...
Comfortable Retirees             3502870  ...                                   537362
Diverse Workers                  9067386  ...                                  1920240
Elder Midscale Class             5126538  ...                                  1001329
Elite Households                 3782280  ...                                  1153657
Mass Markets                     8944892  ...                                  2239097
Modest Families                  3922926  ...                                   867047
Prosperous Acheivers             3653326  ...                                   953399
Upscale Matures                  2990662  ...                                   647027
Well-heeled Affluents            2647809  ...                                   756944
Young Affluent Mobiles           5455273  ...                                  1685141
Young Upscale Families           6370407  ...                                  1768303
Young Urban Masses               6709160  ...                                  1705368

[12 rows x 5 columns]

### Final Segmentation
Combined survey and segments dataset generated for further analysis

In [0]:
# Dataset ready for further analysis
df_segmentation = pd.concat([df_segments_hc_seg, df_survey_wb_seg, df_survey_ws_seg, df_survey_ipa_seg, df_survey_wp_seg], axis=1)

In [0]:
df_segmentation

                        Household Counts  ...  Pay more to buy Top Quality Electronics
Segments                                  ...
Comfortable Retirees             3502870  ...                                   537362
Diverse Workers                  9067386  ...                                  1920240
Elder Midscale Class             5126538  ...                                  1001329
Elite Households                 3782280  ...                                  1153657
Mass Markets                     8944892  ...                                  2239097
Modest Families                  3922926  ...                                   867047
Prosperous Acheivers             3653326  ...                                   953399
Upscale Matures                  2990662  ...                                   647027
Well-heeled Affluents            2647809  ...                                   756944
Young Affluent Mobiles           5455273  ...                                  1685141
Young Upscale Families           6370407  ...                                  1768303
Young Urban Masses               6709160  ...                                  1705368

[12 rows x 5 columns]

In [0]:
# After Dataframe df_segmentation created, save as(write) .csv file to plot visualization
df_segmentation.to_csv(r"/gdrive/My Drive/Colab Notebooks/Data/PROJ/01_pandas/files/final/data/04_segmentation.csv", sep = ',')

In [0]:
# Connect to Tabpy
# pip install tabpy

In [0]:
%%HTML
<div style="border-right: 600px solid WhiteSmoke;"><div style="border-left: 100px solid WhiteSmoke;"><div style="border-top: 20px solid WhiteSmoke;"><div style="border-bottom: 20px solid WhiteSmoke;"><param name="showShareOptions" value="false" />
<div class='tableauPlaceholder' id='viz1568508408660' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;20&#47;2019_09_06_pd_01_df_segmentation_15685006350930&#47;Dashboard&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name="showShareOptions" value="false" /><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='2019_09_06_pd_01_df_segmentation_15685006350930&#47;Dashboard' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;20&#47;2019_09_06_pd_01_df_segmentation_15685006350930&#47;Dashboard&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1568508408660');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='800px';vizElement.style.height='727px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

In [0]:
# Rescale them to the same magnitude
df_segmentation_per.loc[:,:]= df_segmentation.loc[:,:]/df_segmentation.loc[:,:].sum()
df_segmentation_per.round(2)

                        Household Counts  ...  Pay more to buy Top Quality Electronics
Segments                                  ...
Comfortable Retirees                0.06  ...                                     0.04
Diverse Workers                     0.15  ...                                     0.13
Elder Midscale Class                0.08  ...                                     0.07
Elite Households                    0.06  ...                                     0.08
Mass Markets                        0.14  ...                                     0.15
Modest Families                     0.06  ...                                     0.06
Prosperous Acheivers                0.06  ...                                     0.06
Upscale Matures                     0.05  ...                                     0.04
Well-heeled Affluents               0.04  ...                                     0.05
Young Affluent Mobiles              0.09  ...                                     0.11
Young Upscale Families              0.10  ...                                     0.12
Young Urban Masses                  0.11  ...                                     0.11

[12 rows x 5 columns]

In [0]:
# Percentage share of segments in each attribute
df_segmentation_per.to_csv(r"/gdrive/My Drive/Colab Notebooks/Data/PROJ/01_pandas/files/final/data/05_segmentation_perc.csv", sep = ',')

In [0]:
%%HTML
<div style="border-right: 600px solid WhiteSmoke;"><div style="border-left: 100px solid WhiteSmoke;"><div style="border-top: 20px solid WhiteSmoke;"><div style="border-bottom: 20px solid WhiteSmoke;"><param name="showShareOptions" value="false" />
<div class='tableauPlaceholder' id='viz1568567918402' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;20&#47;2019_09_06_pd_01_df_segmentation_perc&#47;Dashboard2&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name="showShareOptions" value="false" /><param name='name' value='2019_09_06_pd_01_df_segmentation_perc&#47;Dashboard2' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;20&#47;2019_09_06_pd_01_df_segmentation_perc&#47;Dashboard2&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1568567918402');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='800px';vizElement.style.height='427px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

In [0]:
# Weighted scoring method
# Based on relevance degree, apply appropriate weights to variables to calculate final weighted average scores
df_segmentation_we_25 = df_segmentation_per[['Household Counts','Will Switch Brands']]*0.25
df_segmentation_we_10 = df_segmentation_per[['High & Medium IPA','Pay more to buy Top Quality Electronics']]*0.10
df_segmentation_we_30 = df_segmentation_per[['Wants to buy Security Devices']]*0.30

In [0]:
df_segmentation_we = pd.concat([df_segmentation_we_25, df_segmentation_we_10, df_segmentation_we_30], axis=1)
df_segmentation_we = df_segmentation_we[['Household Counts',
 'Wants to buy Security Devices',
 'Will Switch Brands',
 'High & Medium IPA',
 'Pay more to buy Top Quality Electronics']]
df_segmentation_we['Total'] = df_segmentation_we.sum(axis=1)
df_segmentation_we.sort_values('Total', axis = 0, ascending = False, 
                 inplace = True, na_position ='last')

In [0]:
df_segmentation_we.to_csv(r"/gdrive/My Drive/Colab Notebooks/Data/PROJ/01_pandas/files/final/data/06_segmentation_perc_we.csv", sep = ',')

In [0]:
df_segmentation_we = pd.read_csv("/gdrive/My Drive/Colab Notebooks/Data/PROJ/01_pandas/files/final/data/06_segmentation_perc_we.csv", sep = ',', low_memory=False)
df_segmentation_we.sort_values('Total', axis = 0, ascending = False, 
                 inplace = True, na_position ='last')
df_segmentation_we = df_segmentation_we.round(3)
df_segmentation_we

                  Segments  ...  Total
0             Mass Markets  ...  0.128
1          Diverse Workers  ...  0.104
3    Well-heeled Affluents  ...  0.097
2   Young Upscale Families  ...  0.097
4         Elite Households  ...  0.096
5     Prosperous Acheivers  ...  0.094
6   Young Affluent Mobiles  ...  0.088
7       Young Urban Masses  ...  0.074
8     Elder Midscale Class  ...  0.071
9          Upscale Matures  ...  0.063
10         Modest Families  ...  0.051
11    Comfortable Retirees  ...  0.037

[12 rows x 7 columns]

#### Segmentation Criteria

After applied the appropriate weights to the variables a total weighted score results the Top 3 Customer Segments to target:

In [0]:
%%HTML
<iframe width="420" height="436" src="https://app.powerbi.com/view?r=eyJrIjoiMTAwODYzOWYtYzY5ZC00NjJmLTljZTAtMmJhYmVkMGE0ZDdkIiwidCI6ImMzYTZiMzgzLTg0ZjctNDYyYi1hMWEzLTlhODU0M2EzYzMyYSIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>

In [0]:
%%HTML
<div style="border-right: 600px solid WhiteSmoke;"><div style="border-left: 100px solid WhiteSmoke;"><div style="border-top: 20px solid WhiteSmoke;"><div style="border-bottom: 20px solid WhiteSmoke;"><param name="showShareOptions" value="false" />
<div class='tableauPlaceholder' id='viz1568580100057' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;20&#47;2019_09_06_pd_top3&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name="showShareOptions" value="false" /><param name='name' value='2019_09_06_pd_top3&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;20&#47;2019_09_06_pd_top3&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1568580100057');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='800px';vizElement.style.height='327px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

#### TOP 3 Segments - Closer Look

In [0]:
%%HTML
<div style="border-right: 600px solid WhiteSmoke;"><div style="border-left: 100px solid WhiteSmoke;"><div style="border-top: 20px solid WhiteSmoke;"><div style="border-bottom: 20px solid WhiteSmoke;"><param name="showShareOptions" value="false" />
<div class='tableauPlaceholder' id='viz1568593199349' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;20&#47;2019_09_06_pd_dash&#47;Top3Segments&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='path' value='views&#47;2019_09_06_pd_dash&#47;Top3Segments?:embed=y&amp;:display_count=y&amp;publish=yes' /> <param name='toolbar' value='yes' /><param name="showShareOptions" value="false" /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;20&#47;2019_09_06_pd_dash&#47;Top3Segments&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1568593199349');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='800px';vizElement.style.height='527px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='800px';vizElement.style.height='527px';} else { vizElement.style.width='100%';vizElement.style.height='1077px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>