<a href="https://colab.research.google.com/github/kikosikera/2019_08_31_py_pan_np/blob/master/2019_09_06_pd_np_plt2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Phase 2 - Final Report 
#### Demographics Analysis
Select Top 5 Cities to launch a New Security System

### Methodology
•	Create a city wise master dataset with attributes like combine crime rate, population growth, housing growth and penetration of top segments

•	Normalize the variables to the same scale and calculate attractiveness score or opportunity for all cities

•	Using the final score, rank the cities and create a combined strategy

### Import Libraries and Datasets

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
from google.colab import drive
drive.mount('/gdrive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /gdrive/

Download the datasets and read it all into a pandas dataframe.

In [0]:
# survey - Survey Data will have the segment distribution for the variables providing the right attribute which will be used to calculate propensity indices for the segments or markets
df_survey = pd.read_csv("/gdrive/My Drive/Colab Notebooks/Data/PROJ/01_pandas/files/final/data/01_survey_data.csv", sep = ',', low_memory=False)
# segments - Segments and their description
df_segments = pd.read_csv("/gdrive/My Drive/Colab Notebooks/Data/PROJ/01_pandas/files/final/data/02_city_segments.csv", sep = ',', low_memory=False)
# demographics - Market data will have attributes like combine crime rate, population growth, housing growth and penetration of top segments at state city level
df_demographics = pd.read_csv("/gdrive/My Drive/Colab Notebooks/Data/PROJ/01_pandas/files/final/data/03_citywise_demographics.csv", sep = ',', low_memory=False)

In [0]:
# Demographics Master Dataset
df_demographics.shape, list(df_demographics), df_demographics.notnull().sum()

((6759, 28),
 ['Location',
  'State',
  'County',
  'Land Area',
  'WaterArea',
  'Latitude',
  'Longitude',
  'Population Growth Rate',
  'WhitePopulation',
  'BlackPopulation',
  'HispanicPopulation',
  'AsianPopulation',
  'HawaiianPopulation',
  'IndianPopulation',
  'OtherPopulation',
  'MalePopulation',
  'FemalePopulation',
  'Number of Burgalaries reported',
  'MedianAge',
  'Crime Rate',
  'Homicide Reported',
  'CBSA_Type',
  'FinanceNumber',
  'Property Crime Rate',
  'Housing Construction',
  'HouseholdsPerZipCode',
  'AverageHouseValue',
  'Elevation'],
 Location                          6759
 State                             6756
 County                            6756
 Land Area                         6759
 WaterArea                         6759
 Latitude                          6756
 Longitude                         6756
 Population Growth Rate            6718
 WhitePopulation                   6756
 BlackPopulation                   6756
 HispanicPopulation                6756
 AsianPopulation                   6756
 HawaiianPopulation                6756
 IndianPopulation                  6756
 OtherPopulation                   6756
 MalePopulation                    6756
 FemalePopulation                  6756
 Number of Burgalaries reported    6726
 MedianAge                         6756
 Crime Rate                        6759
 Homicide Reported                 1386
 CBSA_Type                         5345
 FinanceNumber                     6756
 Property Crime Rate               6759
 Housing Construction              6718
 HouseholdsPerZipCode              6756
 AverageHouseValue                 6756
 Elevation                         6756
 dtype: int64)

In [0]:
df_demographics.head(5)

               Location State  ... AverageHouseValue  Elevation
0    Alabama|Abbeville     AL  ...           88900.0      499.0
1   Alabama|Adamsville     AL  ...           97100.0      600.0
2      Alabama|Addison     AL  ...           88700.0      827.0
3    Alabama|Alabaster     AL  ...          160100.0      524.0
4  Alabama|Albertville     AL  ...          101700.0      592.0

[5 rows x 28 columns]

In [0]:
# Targeting
# Based on discussions with key stakeholders, 4 Demographics are selected (index=Location)
df_demographics_4 = df_demographics[['Location','Population Growth Rate','Number of Burgalaries reported','Property Crime Rate','Housing Construction']]
df_demographics_4.head(10)

                  Location  ... Housing Construction
0       Alabama|Abbeville   ...                0.93%
1      Alabama|Adamsville   ...               -0.69%
2         Alabama|Addison   ...                2.64%
3       Alabama|Alabaster   ...               -2.25%
4     Alabama|Albertville   ...                0.70%
5  Alabama|Alexander City   ...                1.12%
6      Alabama|Aliceville   ...                0.95%
7        Alabama|Anniston   ...                0.25%
8            Alabama|Arab   ...               -3.51%
9         Alabama|Ardmore   ...               -0.48%

[10 rows x 5 columns]

In [0]:
df_demographics_4.dtypes

Location                           object
Population Growth Rate             object
Number of Burgalaries reported    float64
Property Crime Rate                object
Housing Construction               object
dtype: object

In [0]:
# Cleaning Data
PGR = df_demographics_4['Population Growth Rate'].replace(to_replace ='%', value = '', regex = True).astype(float)
PGR = PGR*(0.01)
NBR = df_demographics_4['Number of Burgalaries reported'].astype(float)
PCR = df_demographics_4['Property Crime Rate'].replace(to_replace =',', value = '.', regex = True).astype(float)
HCO = df_demographics_4['Housing Construction'].replace(to_replace ='%', value = '', regex = True).astype(float)
HCO = HCO*(0.01)

In [0]:
df_demographics_4 = pd.concat([df_demographics_4['Location'], PGR, NBR, PCR, HCO], axis=1)
df_demographics_4.head(10)

                  Location  ...  Housing Construction
0       Alabama|Abbeville   ...                0.0093
1      Alabama|Adamsville   ...               -0.0069
2         Alabama|Addison   ...                0.0264
3       Alabama|Alabaster   ...               -0.0225
4     Alabama|Albertville   ...                0.0070
5  Alabama|Alexander City   ...                0.0112
6      Alabama|Aliceville   ...                0.0095
7        Alabama|Anniston   ...                0.0025
8            Alabama|Arab   ...               -0.0351
9         Alabama|Ardmore   ...               -0.0048

[10 rows x 5 columns]

In [0]:
df_demographics_4.dtypes

Location                           object
Population Growth Rate            float64
Number of Burgalaries reported    float64
Property Crime Rate               float64
Housing Construction              float64
dtype: object

## Final Deliverable
#### A Master Dataset study will be created combining Top 3 Segments (Phase 1) and Top 4 Demographics

In [0]:
# TOP 3 Segments (Phase 1)
df_segmentation_top3seg = pd.read_csv("/gdrive/My Drive/Colab Notebooks/Data/PROJ/01_pandas/files/final/data/06_segmentation_perc_we.csv", sep = ',', low_memory=False)
df_segmentation_top3seg.sort_values('Total', axis = 0, ascending = False, 
                 inplace = True, na_position ='last')
df_segmentation_top3seg = df_segmentation_top3seg.round(3)
df_segmentation_top3seg.head(3)

                Segments  ...  Total
0           Mass Markets  ...  0.128
1        Diverse Workers  ...  0.104
3  Well-heeled Affluents  ...  0.097

[3 rows x 7 columns]

In [0]:
df_segmentation_top3seg['Segments'].iloc[0:3]

0             Mass Markets
1          Diverse Workers
3    Well-heeled Affluents
Name: Segments, dtype: object

In [0]:
# Segments by City/State
df_segments.head(5)

        Customer Segment StateFullName        City  Household Counts
0  Well-heeled Affluents  Pennsylvania  AARONSBURG                 0
1        Modest Families  Pennsylvania  AARONSBURG                 0
2       Elite Households  Pennsylvania  AARONSBURG                 0
3           Mass Markets  Pennsylvania  AARONSBURG                90
4     Young Urban Masses  Pennsylvania  AARONSBURG                 1

In [0]:
df_segments.shape, list(df_segments), df_segments.notnull().sum()

((297240, 4),
 ['Customer Segment', 'StateFullName', 'City', 'Household Counts'],
 Customer Segment    297240
 StateFullName       297240
 City                297240
 Household Counts    297240
 dtype: int64)

In [0]:
df_segments_3 = pd.pivot_table(df_segments, values ='Household Counts', index =['City','StateFullName'], 
                         columns = ['Customer Segment'], aggfunc = np.sum)

In [0]:
df_segments_3.head(5)

Customer Segment          Comfortable Retirees  ...  Young Urban Masses
City       StateFullName                        ...
AARONSBURG Pennsylvania                      4  ...                   1
ABBEVILLE  Alabama                         585  ...                   5
           Georgia                         198  ...                   4
           Louisiana                       402  ...                 687
           Mississippi                      18  ...                  13

[5 rows x 12 columns]

In [0]:
df_segments_top3 = df_segments_3[['Mass Markets','Diverse Workers','Well-heeled Affluents']]

In [0]:
df_segments_top3.reset_index(inplace = True)

In [0]:
df_segments_top3 = df_segments_top3.rename(columns={'StateFullName': 'State'})
df_segments_top3['City'] = df_segments_top3['City'].str.capitalize()
df_segments_top3['State'] = df_segments_top3['State'].str.capitalize()

In [0]:
df_segments_top3['City'] = df_segments_top3['City'].str.strip()
df_segments_top3['State'] = df_segments_top3['State'].str.strip()

In [0]:
df_segments_top3.head(5), df_segments_top3.shape

(Customer Segment        City  ... Well-heeled Affluents
 0                 Aaronsburg  ...                     0
 1                  Abbeville  ...                     4
 2                  Abbeville  ...                     1
 3                  Abbeville  ...                     7
 4                  Abbeville  ...                     0

 [5 rows x 5 columns], (24770, 5))

In [0]:
# Demographics by City/State
df_demographics_4.head(5)

               Location  ...  Housing Construction
0    Alabama|Abbeville   ...                0.0093
1   Alabama|Adamsville   ...               -0.0069
2      Alabama|Addison   ...                0.0264
3    Alabama|Alabaster   ...               -0.0225
4  Alabama|Albertville   ...                0.0070

[5 rows x 5 columns]

In [0]:
df_demographics_4_cs = df_demographics_4["Location"].str.split("|", n = 1, expand = True)

In [0]:
df_demographics_4["State"]= df_demographics_4_cs[0]
df_demographics_4["City"]= df_demographics_4_cs[1]

In [0]:
df_demographics_4.drop(columns =["Location"], inplace = True)

In [0]:
df_demographics_4_cs = df_demographics_4[['City','State', 'Population Growth Rate',
 'Number of Burgalaries reported',
 'Property Crime Rate',
 'Housing Construction']]

In [0]:
df_demographics_4_cs['City'] = df_demographics_4_cs['City'].str.capitalize()
df_demographics_4_cs['State'] = df_demographics_4_cs['State'].str.capitalize()

In [0]:
df_demographics_4_cs['City'] = df_demographics_4_cs['City'].str.strip()
df_demographics_4_cs['State'] = df_demographics_4_cs['State'].str.strip()

In [0]:
df_demographics_4_cs.head(5), df_demographics_4_cs.shape

(          City    State  ...  Property Crime Rate  Housing Construction
 0    Abbeville  Alabama  ...                 42.5                0.0093
 1   Adamsville  Alabama  ...                186.5               -0.0069
 2      Addison  Alabama  ...                 15.5                0.0264
 3    Alabaster  Alabama  ...                306.0               -0.0225
 4  Albertville  Alabama  ...                378.0                0.0070

 [5 rows x 6 columns], (6759, 6))

In [0]:
# Demographics > Analysis Report >Seven Attributes selected to rank Cities
# Combined Analysis: 4 Demographics and 3 Segments
df_demographics_7 = df_demographics_4_cs.merge(df_segments_top3, how='outer', on=['City','State'])
df_demographics_7.head(10)

             City    State  ...  Diverse Workers  Well-heeled Affluents
0       Abbeville  Alabama  ...            351.0                    4.0
1      Adamsville  Alabama  ...            424.0                    5.0
2         Addison  Alabama  ...            374.0                    1.0
3       Alabaster  Alabama  ...            448.0                   36.0
4     Albertville  Alabama  ...           2350.0                   28.0
5  Alexander city  Alabama  ...           2001.0                   24.0
6      Aliceville  Alabama  ...            342.0                    6.0
7        Anniston  Alabama  ...           1227.0                  253.0
8            Arab  Alabama  ...            518.0                   55.0
9         Ardmore  Alabama  ...            286.0                    6.0

[10 rows x 9 columns]

In [0]:
df_demographics_7.shape, list(df_demographics_7), df_demographics_7.notnull().sum()

((24903, 9),
 ['City',
  'State',
  'Population Growth Rate',
  'Number of Burgalaries reported',
  'Property Crime Rate',
  'Housing Construction',
  'Mass Markets',
  'Diverse Workers',
  'Well-heeled Affluents'],
 City                              24903
 State                             24903
 Population Growth Rate             6718
 Number of Burgalaries reported     6726
 Property Crime Rate                6759
 Housing Construction               6718
 Mass Markets                      24770
 Diverse Workers                   24770
 Well-heeled Affluents             24770
 dtype: int64)

In [0]:
df_demographics_7.set_index(["City", "State"], inplace = True, 
                            append = True, drop = True)
df_demographics_7.head(2)

                      Population Growth Rate  ...  Well-heeled Affluents
  City       State                            ...
0 Abbeville  Alabama                 -0.0141  ...                    4.0
1 Adamsville Alabama                 -0.0209  ...                    5.0

[2 rows x 7 columns]

In [0]:
# A data normalization is necessary to put all variables to the same scale.
df_demographics_7.loc[:,:]= df_demographics_7.loc[:,:]/df_demographics_7.loc[:,:].sum()
df_demographics_7.round(6).head(3)

                      Population Growth Rate  ...  Well-heeled Affluents
  City       State                            ...
0 Abbeville  Alabama               -0.000392  ...               0.000002
1 Adamsville Alabama               -0.000582  ...               0.000002
2 Addison    Alabama               -0.000456  ...               0.000000

[3 rows x 7 columns]

In [0]:
# Weighted scoring method
# Based on relevance degree, appropriate weights are applied on the  variables to calculate final weighted average scores
df_final_dem_10 = df_demographics_7[['Population Growth Rate','Number of Burgalaries reported','Property Crime Rate','Housing Construction']]*0.10
df_final_seg_10 = df_demographics_7[['Mass Markets','Diverse Workers','Well-heeled Affluents']]*0.20

In [0]:
df_final = pd.concat([df_final_dem_10, df_final_seg_10], axis=1)

In [0]:
df_final = df_final.round(6)
df_final.head(3)

                      Population Growth Rate  ...  Well-heeled Affluents
  City       State                            ...
0 Abbeville  Alabama               -0.000039  ...                    0.0
1 Adamsville Alabama               -0.000058  ...                    0.0
2 Addison    Alabama               -0.000046  ...                    0.0

[3 rows x 7 columns]

In [0]:
df_final.to_csv(r"/gdrive/My Drive/Colab Notebooks/Data/PROJ/01_pandas/files/final/data/07_final_result_.csv", sep = ',', encoding='utf-8')

In [0]:
df_final_result = pd.read_csv("/gdrive/My Drive/Colab Notebooks/Data/PROJ/01_pandas/files/final/data/07_final_result.csv", sep = ',', low_memory=False)

In [0]:
# Using the final weighted score, a new Ranking of cities is created, a combined strategy to identify the TOP 5 Locations/Regions to target
df_final_result['Total'] = df_final_result.sum(axis=1)
df_final_result.sort_values('Total', axis = 0, ascending = False, 
                 inplace = True, na_position ='last')
df_final_result.round(6).head(5)

             City       State  ...  Well-heeled Affluents2     Total
354       Chicago    Illinois  ...                0.005667  0.028400
3312     New York    New York  ...                0.001478  0.022705
2348    Las Vegas      Nevada  ...                0.000778  0.017243
156         Bronx    New York  ...                0.002282  0.017239
2566  Los Angeles  California  ...                0.002011  0.016090

[5 rows x 10 columns]

#### > The TOP 5 CITIES (regions) selected to launch a New Home Security System are:
1. Chicago
2. New York
3. Las Vegas
4. Bronx
5. Los Angeles

In [0]:
%%HTML
<div style="border-right: 600px solid WhiteSmoke;"><div style="border-left: 100px solid WhiteSmoke;"><div style="border-top: 20px solid WhiteSmoke;"><div style="border-bottom: 20px solid WhiteSmoke;"><param name="showShareOptions" value="false" />
<div class='tableauPlaceholder' id='viz1568760016175' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;HF&#47;HF97RKJ5J&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /><param name="showShareOptions" value="false" /><param name='path' value='shared&#47;HF97RKJ5J' /> <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;HF&#47;HF97RKJ5J&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1568760016175');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='960px';vizElement.style.height='627px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

### Insights Generated

### Top 3 Customer Segments selected
1. HIGH household counts

2. HIGH willingness to buy security devices or switch brands

3. HIGH propensity to pay more to buy quality products


### Top 5 Cities selected

1. HIGH population growth and housing construction

2. HIGH property crime rate or burglaries reported

3. HIGH percentage of top 3 customer segments

In [0]:
%%HTML
<iframe width="1280" height="400" src="https://app.powerbi.com/view?r=eyJrIjoiZTYwOTM3ZmUtZDM4Ni00NmI3LTg0ZGQtMjg3ZTdkOGVlOGY0IiwidCI6ImMzYTZiMzgzLTg0ZjctNDYyYi1hMWEzLTlhODU0M2EzYzMyYSIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>